<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/zatemnenie.css">
</head>
<body>

	<div id="task-zatemnenie">
      <form class="" action="index.html" method="post">
        <div class="myTest">
          <div class="myTest_input">
            <span>Кому адресована задача</span>
            <input type="text" name="" value="">
          </div>

          <div class="myTest_input">
            <span>Задача</span>
            <input type="text" name="" value="">
          </div>

          <div class="myTest_input">
            <span>Срок</span>
            <input type="text" name="" value="">
          </div>

          <div class="creat_btn">
            <button type="button" name="button">Создать</button>
          </div>

          <div class="close">
            <a href="">✖</a>
          </div>
        </div>
      </form>
    </div>

	<div id="myTest-zatemnenie">
      <form class="" action="index.html" method="post">
        <div class="myTest">
          <div class="myTest_input">
            <span>Название проекта</span>
            <input type="text" name="" value="">
          </div>

          <div class="creat_btn">
            <button type="button" name="button">Создать</button>
          </div>

          <div class="close">
            <a href="">✖</a>
          </div>
        </div>
      </form>
    </div>

	<div class="container">
		<div class="vertical_menu">
			<div class="tests_name">
		        <div class="my_tests">
		          <b>Мои проекты</b>
		          <a href="#myTest-zatemnenie"><img src="css/plus.png" alt=""></a>
		        </div>

		        <div class="test_name">
		          <input type="radio" name="radio" value="" id="test_1" checked>
		          <label for="test_1">СОЖ 11А</label>
		        </div>

		        <div class="test_name">
		          <input type="radio" name="radio" value="" id="test_2">
		          <label for="test_2">СОЖ 11Б</label>
		        </div>
		      </div>

		      <div class="exit">
		      	<a href="reg.html">Выйти</a>
		      </div>
		</div>
		<div class="main_blocks">
			<div class="block">
				<div class="status">
					<b>To do</b>
				</div>

				<div class="tasks">
					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>

			<div class="block">
				<div class="status">
					<b>Doing</b>
				</div>

				<div class="tasks">
					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>

			<div class="block">
				<div class="status">
					<b>Done</b>
				</div>

				<div class="tasks">
					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>

					<div class="task">
						<p class="for_whom">Кантай Максат</p>
						<p class="task_info">Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд Нужно закончить бекенд</p>
						<p class="deadline">25.02.22г</p>

						<div class="edit">
							<a href="#task-zatemnenie"><img src="css/pencil.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>